form {
  text-align: center;
}

label {
  font-size: 18px;
  font-weight: bold;
}

.calendar {
  margin-left: 10px;
  font-size: 18px;
}

button {
  font-size: 18px;
}

p {
  font-size: 18px;
}

.room-type-btns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.room-type-btns button {
  margin: 10px;
}